* {
  box-sizing: border-box;
}

.container {
  width: 660px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
  margin: 0;
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eae9f2;
}

.section-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.page-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #333366;
}

a {
  color: #333366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  color:#9240D5;
}

ul {
  list-style-type: circle;
}

li, p {
  line-height: 20px;
}

ol {
  list-style-type: upper-roman;
}

/* Заголовок */
.page-header{
  background-color: #98d4d5;
  color: black;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 1.2);
  margin-bottom: 20px;
}

.page-header .container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("img/rezyume.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 350px 250px;
}

.page-header a {
  font-size: 18px;
}

.page-header p {
  margin: 15px 5px 0px 0px;
}

/* Кнопка */
.theme-button {
  position: relative;
  margin-top: 15px;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 36px;
  border-radius: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #6653d9;
}

.theme-button:active {
  opacity: 0.8;
}

/* Обо мне */
.about {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
 }

.about-image {
   width: 150px;
   height: 150px;
   border-radius: 30%;
 }

.about-content-text {
   width: 460px;
   font-size: 18px;
   padding-left: 28px;
 }

.about-content.card {
margin-bottom: 0;
}

.about-content {
  border-radius: 40px;
  width: 200px;
  margin-top: 20px;
  flex-direction: column;
}

.about-content p {
   margin: 0;
   margin-bottom: 12px;
   padding: 0;
 }

.about-content h3 {
  text-align: center;
}

/* Статус */
.status {
  margin-bottom: 20px;
}

.status p {
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 32px 0;
  font-size: 20px;
  font-style: italic;
}

/* Опыт работы */
.job {
  margin-bottom: 20px;
}

.card {
  display: flex;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.card h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 6px;
}

.card img.show {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 20%;
}

.card p {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 6px;
}

time {
  color: #636363;
}

/*Образование*/
.studies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.studies li p {
  color: #256BFF;
}

.studies div {
  width: 304px;
}

.studies h3 {
  text-align: center;
}

.studies time {
  display: flex;
  justify-content: center;
}

#identified {
  width: 660px;
  margin: 0px;
}

#identified2 {
  width: 660px;
  text-align: center;
  margin: 0px;
}

/*Проекты*/
.projects {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects .card {
  margin: 0px;
}

.projects-card {
  display: flex;
  width: 304px;
  padding: 10px;
  flex-wrap: wrap;
}

#project {
  width: 660px;
  margin-bottom: 10px;
}

#project1 {
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: groove;
}

/*Языки*/
.languages {
  margin-bottom: 20px;
  font-size: 18px;
}

.languages-card {
  padding: 6px 8px;
}

/*Награды*/
.awards {
  margin-bottom: 20px;
}

.award {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 32px;
  border-radius: 0 32px;
  font-style: italic;
}

/* Контакты */
.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contacts img {
  width: 150px;
  height: 150px;
}

figure {
  max-width: 150px;
  margin: 10px;
  margin-right: 20px;
  margin-top: 0px;
}

figcaption {
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


.contacts p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
}

.contacts a {
  margin-top: 5px;
  font-size: 18px;
}

a[href^="tel:"] {
  text-decoration: none;
}

/* Нижний колонтитул */
.page-footer {
  margin-top: auto;
  background-color: #373540;
  color: #f2f2f2;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-footer p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* Светлая тема */
.light-theme {
  color: #000000;
  background-color: #FFEFD5;
}

.light-theme .theme-button {
  border: 2px solid #6653d9;
}

.light-theme .theme-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 7px;
  left: 12px;
  background-image: url("img/moon-normal.svg");
}

.light-theme .theme-button:hover {
  color: #FFEFD5;
  background-color: #6653d9;
}

.light-theme .theme-button:hover::before {
  background-image: url("img/moon-hover.svg");
}

.light-theme .status p {
  background-color: #D2B48C	;
}

.light-theme .award {
  background-color: #D2B48C;
}

.light-theme .card {
  background-color: #D2B48C;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.light-theme .card-content h3 {
color: #A63100;
}

.light-theme .projects-card h3 {
color: #A63100;
}

.light-theme .contacts a {
  color: darkblue;
}

.light-theme .contacts a:focus {
  color:#9240D5;
}

.light-theme figcaption {
  background-color: #D2B48C;
}

/* Тёмная тема */
.dark-theme {
  color: #f2f2f2;
  background-color: #333366;
}

.dark-theme .theme-button {
  border: 2px solid #6653d9;
}

.dark-theme .theme-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 7px;
  left: 12px;
  background-image: url("img/sun-normal.svg");
}

.dark-theme .theme-button:hover {
  color: #6653d9;
  background-color: #FFEFD5;
}

.dark-theme .theme-button:hover::before {
  background-image: url("img/sun-hover.svg");
}

.dark-theme .status p {
  background-color: #2a2930;
}

.dark-theme .award {
  background-color: #2a2930;
}

.dark-theme .card {
  background-color: #2a2930;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.dark-theme .card-content h3 {
color: #B1009B;
}

.dark-theme .projects-card h3 {
color: #B1009B;
}

.dark-theme .contacts a {
  color: lightblue;
}

.dark-theme .contacts a:focus {
  color:#9240D5;
}

.dark-theme figcaption {
  background-color: #2a2930;
}
